# Ignore all node_modules
node_modules/*

# Compiled JS
server/public/*.js
server/bundle.js
server/bundle.js.map

# NPM errors
npm-debug.log

# OSX
.DS_Store

# Keys for Stripe
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

